body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
}


.background-overlay {
  background-color: white;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  overflow: hidden;

  
}
div.App {
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #062c4b;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  width: 18%;
}
.MenuButton {
  margin: 10px ;
  background-color: transparent;
  border: white;
  border-radius: 9px;
}

.menu-button__label {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.main-logo {
  width: 200px;
  height: 200px;
  border-radius: 9px;
  margin: 50px;
}
button.MenuButton:hover {
  background-color: #0a4d78;
  cursor: pointer;
}
button.MenuButton:active {
  background-color: #061e2f;
}

.Screen_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 85vw;
  height: 100%;
  width: 100%;
}
.search_client_input {
  margin: 80px 0px 0px 25px;
  background-color: #E5E5E5;
  border-radius: 100px;
  height: 5%;
  width: 85%;
}
.search_client_input::placeholder {
  font-size: 25px;
}

input {
  border: none;
  outline: none;
  padding-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header_homeScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 50px;
  outline: solid 1px black;
  border-radius: 8px;
  margin: 20px 0px 0px 20px;
}
.header_homeScreen h3 {
  justify-content: center;
  font-size: 20px;
  color: #0a4d78;
}
.header_table {
  display: flex;
  width: 60vw;
  height: 5%;
  outline: solid 1px black;
  border-radius: 8px;
  margin: 20px 20px 0px 20px;
  align-items: center;
  justify-content: space-between;
}
.header_table h3 {
  font-size: 18px;
  color: #49454f;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.header_table:hover{
  background-color: #0a4d78;
  cursor: pointer;
  
}
.header_table:hover h3{
  color: white;
}
.memberships_expiring_container {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.estadisticas_clientes {
  background-color: #062c4b;
  width: 15%;
  height: 90%;
  border-radius: 9px;
  margin: 20px 0px 0px 0px;
}
.memberships_expiring_list {
  flex:1;
  margin: 0;
  padding: 5px 0px 10px 0px;
  height: 60vh;
  overflow-y: auto;
  scrollbar-color: #062c4b transparent;
}
.add_client {
  outline: solid 2px black;
  border-radius: 8px;
  height: 45%;
  width: 15%;
  background-color: white;
  margin: 60px;
}
.add_client:hover {
  background-color: #efefee;
  outline: solid 2px black;
  cursor: pointer;
}
.texto_add_cliente {
  font-size: 12px;
  font-weight: bold;
  color: #49454f;
}
.search_client_input_screen {
  margin-left:2%;
  background-color: #E5E5E5;
  border-radius: 100px;
  height: 40%;
  width: 85%;
}
.search_client_input_screen::placeholder {
  font-size: 25px;
  color: #999999;
}
.search_add_client_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 10%;
  margin: 20px 0px 0px 10px;
}
.header_estatico{
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 95%;
}
.table_clients_container {
  flex-direction: column;
  display: flex;
  width: 95%;
  max-height:75vh;
  align-items: center;
  overflow-y: auto;
  scrollbar-color: #062c4b transparent;

}
.header_tabla_clientes{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 95%;
  display: flex;
  height: 35px;
  outline: solid 1px black;
  border-radius: 8px;
  align-items: center;
}
.header_tabla_clientes h3{
  color: #49454f;
  text-align: center;
  flex:1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.iconbutton {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;

}
.iconbutton:hover {
  background-color: #efefee;
  cursor: pointer;
} 
.iconbutton:active {
  background-color: #d4d4d4;
}
.buttons_container {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}